<pre id='maze'></pre>
<button onClick='showSolution()'>Solve</button>

<script>
  var maze = <%= @maze.structure %>;
  var mazeElement = document.getElementById('maze');

  mazeElement.innerText = MazeSolver.print(maze);

  var showSolution = function() {
    mazeElement.innerText = MazeSolver.solve(maze);
  }

</script>

